In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
import psycopg2
import pandas as pd

In [4]:
from src.data import sql_utils

In [5]:
DBNAME = "opportunity_youth"

In [6]:
conn = psycopg2.connect(dbname=DBNAME)

In [7]:
oy_by_puma = pd.read_sql("""SELECT SUM(pwgtp) AS oy_count, n.puma_name
               FROM pums_2017 p
               JOIN puma_names_2010 n
               ON p.puma = n.puma
               WHERE p.puma BETWEEN '11610' AND '11615'
               AND (p.esr = '3' OR p.esr = '6')
               AND p.sch = '1'
               AND p.agep BETWEEN '16' AND '24'
               GROUP BY n.puma_name
               ;""", conn)
oy_by_puma

   oy_count                                          puma_name
0    1853.0  King County (Central)--Renton City, Fairwood, ...
1    1977.0  King County (Far Southwest)--Federal Way, Des ...
2    1210.0  King County (Southeast)--Maple Valley, Covingt...
3    2006.0  King County (Southwest Central)--Kent City    ...
4    1530.0  King County (Southwest)--Auburn City & Lakelan...
5    2038.0  King County (West Central)--Burien, SeaTac, Tu...

In [8]:
total_oy = oy_by_puma.sum()
total_oy

oy_count                                                 10614
puma_name    King County (Central)--Renton City, Fairwood, ...
dtype: object

In [23]:
travel_times = pd.read_sql("""SELECT pwgtp AS oy_count, jwtr, n.puma_name
               FROM pums_2017 p
               JOIN puma_names_2010 n
               ON p.puma = n.puma
               WHERE p.puma BETWEEN '11610' AND '11615'
               AND (p.esr != '3' AND p.esr != '6')
               AND p.sch = '1'
               AND p.agep BETWEEN '16' AND '24'
               ;""", conn)
travel_times['jwtr'].value_counts()

AttributeError: 'Series' object has no attribute 'sort'