In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
import psycopg2
import pandas as pd

In [4]:
DBNAME = "opportunity_youth"

In [5]:
conn = psycopg2.connect(dbname=DBNAME)

In [6]:
south_oy = pd.read_sql("""SELECT SUM(pwgtp) AS oy_count, puma
                          FROM pums_2017 
                          WHERE puma BETWEEN '11610' AND '11615'
                          AND (esr = '3' OR esr = '6')
                          AND sch = '1'
                          AND (agep BETWEEN '16' AND '24')
                          GROUP BY puma
                          ;""", conn)
south_oy_total = south_oy['oy_count'].sum()
south_oy_total

10614.0

In [7]:
south_oy_16_18 = pd.read_sql("""SELECT SUM(pwgtp) AS oy_count, puma
                                FROM pums_2017 p
                                WHERE puma BETWEEN '11610' AND '11615'
                                AND (esr = '3' OR esr = '6')
                                AND sch = '1'
                                AND agep BETWEEN '16' AND '18'
                                GROUP BY puma
                                ;""", conn)
south_oy_16_18_count = south_oy_16_18['oy_count'].sum()
south_oy_16_18_count

1815.0

In [8]:
south_oy_19_21 = pd.read_sql("""SELECT SUM(pwgtp) AS oy_count, puma
                                FROM pums_2017 
                                WHERE puma BETWEEN '11610' AND '11615'
                                AND (esr = '3' OR esr = '6')
                                AND sch = '1'
                                AND agep BETWEEN '19' AND '21'
                                GROUP BY puma
                                ;""", conn)
south_oy_19_21_count = south_oy_19_21['oy_count'].sum()
south_oy_19_21_count

3902.0

In [9]:
south_oy_22_24 = pd.read_sql("""SELECT SUM(pwgtp) AS oy_count, puma
                                FROM pums_2017 
                                WHERE puma BETWEEN '11610' AND '11615'
                                AND (esr = '3' OR esr = '6')
                                AND sch = '1'
                                AND agep BETWEEN '22' AND '24'
                                GROUP BY puma
                                ;""", conn)
south_oy_22_24_count = south_oy_22_24['oy_count'].sum()
south_oy_22_24_count

4897.0

In [10]:
south_oy_total == (south_oy_16_18_count + south_oy_19_21_count + south_oy_22_24_count)

True

In [11]:
total_pop = pd.read_sql("""SELECT SUM(pwgtp) AS pop_count, puma
                                 FROM pums_2017 
                                 WHERE agep BETWEEN '16' AND '24'
                                 AND puma BETWEEN '11610' AND '11615'
                                 GROUP BY puma
                                 ;""", conn)
total_pop_count = total_pop['pop_count'].sum()
total_pop_count

85883.0

In [12]:
total_pop_16_18 = pd.read_sql("""SELECT SUM(pwgtp) AS pop_count, puma
                                 FROM pums_2017 
                                 WHERE agep BETWEEN '16' AND '18'
                                 AND puma BETWEEN '11610' AND '11615'
                                 GROUP BY puma
                                 ;""", conn)
total_pop_16_18_count = total_pop_16_18['pop_count'].sum()
total_pop_16_18_count

30141.0

In [13]:
total_pop_19_21 = pd.read_sql("""SELECT SUM(pwgtp) AS pop_count, puma
                                 FROM pums_2017 
                                 WHERE agep BETWEEN '19' AND '21'
                                 AND puma BETWEEN '11610' AND '11615'
                                 GROUP BY puma
                                 ;""", conn)
total_pop_19_21_count = total_pop_19_21['pop_count'].sum()
total_pop_19_21_count

25486.0

In [14]:
total_pop_22_24 = pd.read_sql("""SELECT SUM(pwgtp) AS pop_count, puma
                                 FROM pums_2017 
                                 WHERE agep BETWEEN '22' AND '24'
                                 AND puma BETWEEN '11610' AND '11615'
                                 GROUP BY puma
                                 ;""", conn)
total_pop_22_24_count = total_pop_22_24['pop_count'].sum()
total_pop_22_24_count

30256.0

In [15]:
total_pop_count == (total_pop_16_18_count + total_pop_19_21_count + total_pop_22_24_count)

True

In [16]:
work_no_diploma_total = pd.read_sql("""SELECT SUM(pwgtp) AS pop_count, puma
                                       FROM pums_2017 
                                       WHERE puma BETWEEN '11610' AND '11615'
                                       AND (esr != '3' AND esr != '6')
                                       AND (cow != '9')
                                       AND schl <= '15' 
                                       AND agep BETWEEN '16' AND '24'
                                       GROUP BY puma
                                       ;""", conn)
work_no_diploma_total_count = work_no_diploma_total['pop_count'].sum()
work_no_diploma_total_count

7712.0

In [17]:
work_no_diploma_16_18 = pd.read_sql("""SELECT SUM(pwgtp) AS pop_count, puma
                                       FROM pums_2017 
                                       WHERE puma BETWEEN '11610' AND '11615'
                                       AND (esr != '3' AND esr != '6')
                                       AND (cow != '9')
                                       AND schl <= '15' 
                                       AND agep BETWEEN '16' AND '18'
                                       GROUP BY puma
                                       ;""", conn)
work_no_diploma_16_18_count = work_no_diploma_16_18['pop_count'].sum()
work_no_diploma_16_18_count

4377.0

In [18]:
work_no_diploma_19_21 = pd.read_sql("""SELECT SUM(pwgtp) AS pop_count, puma
                                       FROM pums_2017 
                                       WHERE puma BETWEEN '11610' AND '11615'
                                       AND (esr != '3' AND esr != '6')
                                       AND (cow != '9')
                                       AND schl <= '15' 
                                       AND agep BETWEEN '19' AND '21'
                                       GROUP BY puma
                                       ;""", conn)
work_no_diploma_19_21_count = work_no_diploma_19_21['pop_count'].sum()
work_no_diploma_19_21_count

1630.0

In [19]:
work_no_diploma_22_24 = pd.read_sql("""SELECT SUM(pwgtp) AS pop_count, puma
                                       FROM pums_2017 
                                       WHERE puma BETWEEN '11610' AND '11615'
                                       AND (esr != '3' AND esr != '6')
                                       AND (cow != '9')
                                       AND schl <= '15' 
                                       AND agep BETWEEN '22' AND '24'
                                       GROUP BY puma
                                       ;""", conn)
work_no_diploma_22_24_count = work_no_diploma_22_24['pop_count'].sum()
work_no_diploma_22_24_count

1705.0

In [20]:
work_no_diploma_total_count == (work_no_diploma_16_18_count + work_no_diploma_19_21_count + work_no_diploma_22_24_count)

True

In [21]:
not_oy_total = total_pop_count - work_no_diploma_total_count - south_oy_total
not_oy_total

67557.0

In [22]:
not_oy_16_18 = total_pop_16_18_count - south_oy_16_18_count - work_no_diploma_16_18_count
not_oy_16_18

23949.0

In [23]:
not_oy_19_21 = total_pop_19_21_count - south_oy_19_21_count - work_no_diploma_19_21_count
not_oy_19_21

19954.0

In [24]:
not_oy_22_24 = total_pop_22_24_count - south_oy_22_24_count - work_no_diploma_22_24_count
not_oy_22_24

23654.0

SyntaxError: invalid syntax (<ipython-input-25-b6a8ae84e208>, line 1)